.header{
    height: 7%;
    background-color: #03057c;
}
.button {
    color: #03057c;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    width: 7%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.irctc{
    font-size: 18px;
}
