<div class="footer">  
      <br>
    <span style="text-decoration: underline;">
      About Us
    </span>
    <br>
    Our focus on travel utility and customer experience for travelers in the ‘next billion user’ segment is driven by
    technology, cost-efficiency and our culture of <br> innovation has made us India’s leading travel ecosystem for the ‘next billion users’.
    All passengers are hereby informed that downloading of Aarogya Setu App<br> on their mobile phone, that they are
    carrying along, is advisable.
    <span style="margin-left: 800px;">
      Get Connected with us on social networks 
      <i class="fa fa-comment" style="font-size:20px;margin-left: 5px;"></i>
    </span>
    <br> <br>  
</div>